Repository teamstarcup/starcup, pull requests merged in 2025-10, with the labels that each got.

#484 map(byoin): fix grid atmos
  Resources/Maps/_starcup/byoin.yml
Labels: S: Untriaged, Changes: No C#, Changes: Map, Changes: YML

#490 tweak: remove unused poster prototypes, bring back the anime poster
  Resources/Migrations/starcup-migrations.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
Labels: Changes: No C#, size/M, Changes: YML, Changes: Upstream

#491 feat: more light prototypes for mapping
  Resources/Prototypes/_starcup/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/_starcup/Catalog/Fills/Boxes/service.yml
  Resources/Prototypes/_starcup/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/_starcup/Entities/Objects/Power/lights.yml
  Resources/Prototypes/_starcup/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/_starcup/Entities/Structures/Lighting/ground_lighting.yml
Labels: S: Untriaged, Changes: No C#, size/M, Changes: YML
