Repository teamstarcup/starcup, pull requests merged in 2025-04, with the labels that each got.

#11 chore: switch to AGPL-3.0 license
  LICENSE-AGPLv3.txt
  README.md
Labels: S: Untriaged, Changes: No C#, size/M

#10 feat: add ship's articles
  Content.Client/Guidebook/Richtext/TextLinkTag.cs
  Resources/Locale/en-US/_starcup/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/rules.yml
  Resources/Prototypes/_starcup/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/_starcup/StarcupShipsArticles.xml
Labels: S: Untriaged, Changes: No C#, size/M, Changes: YML

#16 tweak: disable deathmatch, enable greenshift and extended
  Resources/Prototypes/game_presets.yml
Labels: size/XS, Changes: No C#, Changes: YML

#20 fix: uncaught admin assistant pda bug
  Resources/Prototypes/_DeltaV/Entities/Objects/Devices/pda.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML

#30 fix: display ships articles with word wrapping
  Resources/ServerInfo/Guidebook/_starcup/StarcupShipsArticles.xml
Labels: size/S, Changes: No C#

#31 feat: increase vulp temperature threshold
  Resources/Prototypes/_DeltaV/Entities/Mobs/Species/vulpkanin.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML

#21 species renames
  Resources/Locale/en-US/_DeltaV/chat/managers/chat_manager.ftl
  Resources/Locale/en-US/_DeltaV/markings/vulpkanin.ftl
  Resources/Locale/en-US/_DeltaV/species/species.ftl
  Resources/Locale/en-US/_DeltaV/traits/traits.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Locale/en-US/metabolism/metabolizer-types.ftl
  Resources/Locale/en-US/species/species.ftl
  Resources/Prototypes/Body/Prototypes/moth.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/_DeltaV/Body/Parts/vulpkanin.yml
  Resources/Prototypes/_DeltaV/Body/Prototypes/vulpkanin.yml
  Resources/Prototypes/_DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
  Resources/ServerInfo/Guidebook/Mobs/_DeltaV/Vulpkanin.xml
Labels: S: Untriaged, Changes: No C#, size/M, Changes: YML

#32 feat: port glacier station from delta-v
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_starcup/glacier.yml
  Resources/Prototypes/_starcup/Maps/glacier.yml
Labels: S: Untriaged, Changes: No C#, size/XL, Changes: Map, Changes: YML

#26 feat: various trait ports/edits
  Content.Client/_DeltaV/Overlays/PainOverlay.cs
  Content.Client/_DeltaV/Overlays/PainSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Speech/EntitySystems/MobsterAccentSystem.cs
  Content.Server/_DeltaV/EntityEffects/Effects/InPain.cs
  Content.Server/_DeltaV/EntityEffects/Effects/SuppressPain.cs
  Content.Server/_DeltaV/Pain/PainSystem.cs
  Content.Server/_DeltaV/Speech/Components/IrishAccentComponent.cs
  Content.Server/_DeltaV/Speech/Components/ScottishAccentComponent.cs
  Content.Server/_DeltaV/Speech/EntitySystems/IrishAccentSystem.cs
  Content.Server/_DeltaV/Speech/EntitySystems/ScottishAccentSystem.cs
  Content.Shared/_DeltaV/Pain/PainComponent.cs
  Content.Shared/_DeltaV/Pain/SharedPainSystem.cs
  Content.Shared/_DeltaV/Speech/HushedComponent.cs
  Resources/Locale/en-US/_CosmaticDrift/reagents/RPmeds.ftl
  Resources/Locale/en-US/_CosmaticDrift/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_DeltaV/accent/irish.ftl
  Resources/Locale/en-US/_DeltaV/accent/scottish.ftl
  Resources/Locale/en-US/_DeltaV/alerts/alerts.ftl
  Resources/Locale/en-US/_DeltaV/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/_DeltaV/job/job-description.ftl
  Resources/Locale/en-US/_DeltaV/traits/traits.ftl
  Resources/Locale/en-US/_starcup/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/en-US/_starcup/traits/traits.ftl
  Resources/Locale/en-US/accent/mobster.ftl
  Resources/Locale/en-US/accent/southern.ftl
  Resources/Locale/en-US/tips.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/speech.yml
  Resources/Prototypes/_CosmaticDrift/Reagents/medicine.yml
  Resources/Prototypes/_DeltaV/Accents/word_replacements.yml
  Resources/Prototypes/_DeltaV/Datasets/pain.yml
  Resources/Prototypes/_DeltaV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DeltaV/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/_DeltaV/Shaders/chromatic_aberration.yml
  Resources/Prototypes/_DeltaV/Traits/altvision.yml
  Resources/Prototypes/_DeltaV/Traits/disabilities.yml
  Resources/Prototypes/_DeltaV/Traits/speech.yml
  Resources/Prototypes/_DeltaV/status_effects.yml
  Resources/Prototypes/_starcup/Traits/categories.yml
  Resources/Textures/_DeltaV/Clothing/Uniforms/Jumpsuit/kilt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Jumpsuit/kilt.rsi/icon.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Jumpsuit/kilt.rsi/inhand-left.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Jumpsuit/kilt.rsi/inhand-right.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Jumpsuit/kilt.rsi/meta.json
  Resources/Textures/_DeltaV/Shaders/chromatic_aberration.swsl
Labels: Changes: Sprites, Changes: UI, Changes: Shaders, Changes: Audio, S: Untriaged, size/L, Changes: YML

#23 fix: rodentia sneaking refactor
  Content.Client/_DeltaV/Rodentia/CrawlUnderObjectsSystem.cs
  Content.Client/_DeltaV/Rodentia/DrawDepthVisualizerComponent.cs
  Content.Client/_DeltaV/Rodentia/DrawDepthVisualizerSystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/_DeltaV/Rodentia/CrawlUnderObjectsSystem.cs
  Content.Shared/_DeltaV/Rodentia/CrawlUnderObjectsComponent.cs
  Content.Shared/_DeltaV/Rodentia/CrawlUnderObjectsSystem.cs
  Content.Shared/_DeltaV/Rodentia/SharedCrawlUnderObjectsSystem.cs
  Resources/Prototypes/_DeltaV/Entities/Mobs/Species/rodentia.yml
Labels: S: Untriaged, size/M, Changes: YML

#25 feat: gun executions
  Content.Server/_DeltaV/Execution/ExecutionSystem.cs
  Resources/Locale/en-US/execution/execution.ftl
Labels: S: Untriaged, size/M
