Repository teamstarcup/starcup, pull requests merged in 2025-09, with the labels that each got.

#369 feat: add some skittermouse stuff
  Content.Shared/Humanoid/NamingSystem.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Locale/en-US/_starcup/abilities/skitter.ftl
  Resources/Locale/en-US/_starcup/chat/managers/chat_manager.ftl
  Resources/Locale/en-US/_starcup/datasets/names/skittermouse-code.ftl
  Resources/Locale/en-US/_starcup/datasets/names/skittermouse-first.ftl
  Resources/Locale/en-US/_starcup/datasets/names/skittermouse-last.ftl
  Resources/Locale/en-US/_starcup/markings/skittermouse.ftl
  Resources/Locale/en-US/_starcup/species/namepreset.ftl
  Resources/Locale/en-US/_starcup/species/species.ftl
  Resources/Prototypes/_starcup/Actions/types.yml
  Resources/Prototypes/_starcup/Body/Organs/skittermouse.yml
  Resources/Prototypes/_starcup/Body/Parts/skittermouse.yml
  Resources/Prototypes/_starcup/Body/Prototypes/skittermouse.yml
  Resources/Prototypes/_starcup/Damage/modifier_sets.yml
  Resources/Prototypes/_starcup/Datasets/Names/skittermouse.yml
  Resources/Prototypes/_starcup/Entities/Mobs/Customization/Markings/skittermouse.yml
  Resources/Prototypes/_starcup/Entities/Mobs/Player/skittermouse.yml
  Resources/Prototypes/_starcup/Entities/Mobs/Species/skittermouse.yml
  Resources/Prototypes/_starcup/QuickPhrases/Species/crew.yml
  Resources/Prototypes/_starcup/SoundCollections/skittermouse.yml
  Resources/Prototypes/_starcup/Species/skittermouse.yml
  Resources/Prototypes/_starcup/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_starcup/Voice/speech_sounds.yml
  Resources/Prototypes/_starcup/Voice/speech_verbs.yml
  Resources/Prototypes/_starcup/typing_indicator.yml
  Resources/ServerInfo/Guidebook/Mobs/_starcup/Skittermouse.xml
  Resources/Textures/_starcup/Effects/creampie.rsi/creampie_skittermouse.png
  Resources/Textures/_starcup/Effects/creampie.rsi/meta.json
  Resources/Textures/_starcup/Effects/speech.rsi/meta.json
  Resources/Textures/_starcup/Effects/speech.rsi/skittermouse0.png
  Resources/Textures/_starcup/Effects/speech.rsi/skittermouse1.png
  Resources/Textures/_starcup/Effects/speech.rsi/skittermouse2.png
  Resources/Textures/_starcup/Mobs/Customization/Skittermouse/ear_markings.rsi/cat.png
  Resources/Textures/_starcup/Mobs/Customization/Skittermouse/ear_markings.rsi/doublecat.png
  Resources/Textures/_starcup/Mobs/Customization/Skittermouse/ear_markings.rsi/meta.json
  Resources/Textures/_starcup/Mobs/Customization/Skittermouse/eyes.rsi/eyes.png
  Resources/Textures/_starcup/Mobs/Customization/Skittermouse/eyes.rsi/meta.json
  Resources/Textures/_starcup/Mobs/Customization/Skittermouse/tail_markings.rsi/meta.json
  Resources/Textures/_starcup/Mobs/Customization/Skittermouse/tail_markings.rsi/shortie.png
  Resources/Textures/_starcup/Mobs/Customization/Skittermouse/tail_markings.rsi/slug.png
  Resources/Textures/_starcup/Mobs/Species/Skittermouse/organs.rsi/eyeball-l.png
  Resources/Textures/_starcup/Mobs/Species/Skittermouse/organs.rsi/eyeball-r.png
  Resources/Textures/_starcup/Mobs/Species/Skittermouse/organs.rsi/eyeballs-inhand-left.png
  Resources/Textures/_starcup/Mobs/Species/Skittermouse/organs.rsi/eyeballs-inhand-right.png
  Resources/Textures/_starcup/Mobs/Species/Skittermouse/organs.rsi/meta.json
  Resources/Textures/_starcup/Mobs/Species/Skittermouse/parts.rsi/full.png
  Resources/Textures/_starcup/Mobs/Species/Skittermouse/parts.rsi/head.png
  Resources/Textures/_starcup/Mobs/Species/Skittermouse/parts.rsi/l_arm.png
  Resources/Textures/_starcup/Mobs/Species/Skittermouse/parts.rsi/l_foot.png
  Resources/Textures/_starcup/Mobs/Species/Skittermouse/parts.rsi/l_hand.png
  Resources/Textures/_starcup/Mobs/Species/Skittermouse/parts.rsi/l_leg.png
  Resources/Textures/_starcup/Mobs/Species/Skittermouse/parts.rsi/meta.json
  Resources/Textures/_starcup/Mobs/Species/Skittermouse/parts.rsi/r_arm.png
  Resources/Textures/_starcup/Mobs/Species/Skittermouse/parts.rsi/r_foot.png
  Resources/Textures/_starcup/Mobs/Species/Skittermouse/parts.rsi/r_hand.png
  Resources/Textures/_starcup/Mobs/Species/Skittermouse/parts.rsi/r_leg.png
  Resources/Textures/_starcup/Mobs/Species/Skittermouse/parts.rsi/torso.png
Labels: Changes: Sprites, S: Untriaged, size/M, Changes: YML, Changes: Upstream, Changes: Guidebook

#370 tweak: increase marking limits
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/_DV/Species/Oni.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
  Resources/Prototypes/_DV/Species/vulpkanin.yml
Labels: S: Untriaged, Changes: No C#, size/M, Changes: YML, Changes: Upstream, Changes: Port

#371 feat: new gamemodes! (and a few event tweaks)
  Content.Server/StationEvents/Events/VentClogRule.cs
  Resources/Locale/en-US/_starcup/game-ticking/game-presets/preset-gamemodes.ftl
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_starcup/GameRules/critters.yml
  Resources/Prototypes/_starcup/GameRules/events.yml
  Resources/Prototypes/_starcup/GameRules/meteorswarms.yml
  Resources/Prototypes/_starcup/GameRules/roundstart.yml
  Resources/Prototypes/_starcup/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: S: Untriaged, size/M, Changes: YML, Changes: Upstream

#378 fix: give access configurators the new access levels
  Resources/Locale/en-US/_starcup/prototypes/access/accesses.ftl
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: YML, Changes: Upstream

#383 tweak: traitor objective adjustments
  Content.Server/_DV/Objectives/Components/TeachLessonConditionComponent.cs
  Content.Server/_DV/Objectives/Systems/TeachLessonConditionSystem.cs
  Resources/Locale/en-US/_DV/objectives/conditions/teach-person.ftl
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_DV/Objectives/traitor.yml
Labels: size/S, S: Untriaged, Changes: YML, Changes: Upstream, Changes: Port

#380 map(banana): tweaks and new cargo shuttle
  Resources/Maps/_starcup/Shuttles/cargo_banana.yml
  Resources/Maps/_starcup/banana.yml
  Resources/Prototypes/_starcup/Maps/banana.yml
Labels: size/L, Changes: No C#, Changes: Map, Changes: YML

#404 fix: extend wallmount interact distance
  Content.Shared/Physics/CollisionGroup.cs
  Resources/Prototypes/Entities/Structures/Wallmounts/base_wallmount.yml
Labels: size/S, S: Untriaged, Changes: YML, Changes: Upstream

#413 tweak: further improve lighting visuals
  Resources/Prototypes/Entities/Structures/Decoration/fireplace.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/base_structurecomputers.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/seed_extractor.yml
  Resources/Prototypes/Entities/Structures/Machines/stasisbed.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/station_map.yml
  Resources/Prototypes/Entities/Structures/cryogenic_sleep_unit.yml
Labels: Changes: No C#, size/M, Changes: YML, Changes: Upstream

#433 feat: chicken spawners
  Resources/Prototypes/_starcup/Entities/Markers/Spawners/Mobs/animals.yml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: YML

#414 feat: bar signs emit light
  Content.Shared/BarSign/BarSignPrototype.cs
  Content.Shared/BarSign/BarSignSystem.cs
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/bar_signs.yml
Labels: size/S, S: Untriaged, Changes: YML, Changes: Upstream

#366 feat: handheld radio rework
  Content.Client/_NC/Radio/UI/HandheldRadioBoundUserInterface.cs
  Content.Client/_NC/Radio/UI/HandheldRadioMenu.xaml
  Content.Client/_NC/Radio/UI/HandheldRadioMenu.xaml.cs
  Content.Server/Radio/Components/RadioMicrophoneComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Radio/RadioChannelPrototype.cs
  Content.Shared/_NC/Radio/SharedHandheldRadio.cs
  Resources/Locale/en-US/_starcup/radio/components/handheld-radio-component.ftl
  Resources/Locale/en-US/radio/components/handheld-radio-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/radio_channels.yml
Labels: Changes: UI, S: Untriaged, size/M, Changes: YML, S: Needs Review, Changes: Upstream, Changes: Port

#208 docs: licensing clarifications
  LEGAL.md
  README.md
Labels: size/S, S: Untriaged, Changes: No C#, S: Needs Review, Changes: Upstream

#458 tweak: move bartender's combat gear to cabinet (and rename it)
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/bardrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_starcup/Catalog/Fills/Lockers/service.yml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: YML, Changes: Upstream

#459 map(train): general train updates
  Resources/Maps/_starcup/train.yml
  Resources/Prototypes/_starcup/Maps/train.yml
Labels: size/L, Changes: No C#, Changes: Map, Changes: YML, S: Needs Review

#397 tweak: make meat acquisition less grisly (butchering changes, chef cubes, etc)
  Resources/Locale/en-US/_starcup/cargo/bounties.ftl
  Resources/Migrations/starcup-migrations.yml
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_meal.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_meat.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_single.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/scurret.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/gingerbread.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Structures/meat_spike.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Lathes/Packs/animal_cubes.yml
  Resources/Prototypes/Recipes/Lathes/biogen.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/_starcup/Catalog/Bounties/bounties.yml
  Resources/Textures/_Impstation/Objects/Misc/chefcubes.rsi/box.png
  Resources/Textures/_Impstation/Objects/Misc/chefcubes.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M, Changes: YML, S: Needs Review, Changes: Upstream, Changes: Port

#460 fix: test failures from mail teleports
  Content.Server/_DV/Mail/EntitySystems/MailSystem.cs
Labels: S: Untriaged, Changes: Port

#464 fix: all mimes now start with a survival box
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML, Changes: Upstream

#466 tweak: remove tc drop from renault, let her become sentient
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: size/S, Changes: No C#, Changes: YML, Changes: Upstream

#475 map(saltern): tweaks to previous changes
  Resources/Maps/_starcup/saltern.yml
  Resources/Prototypes/_starcup/Maps/saltern.yml
Labels: Changes: No C#, size/XL, Changes: Map, Changes: YML

#474 tweak: nudge up ethanol contents of absinthe cocktails
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
Labels: size/XS, Changes: No C#, Changes: YML, Changes: Upstream

#476 fix: paramedic access level fixes
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML, Changes: Upstream

#480 fix: remove invalid mail entry
  Resources/Prototypes/_DV/Mail/mailDeliveries.yml
Labels: S: Untriaged, Changes: No C#, Changes: YML, Changes: Port

#477 feat: add ammonia bottle
  Resources/Prototypes/_starcup/Entities/Objects/Specific/chemistry-bottles.yml
Labels: size/S, Changes: No C#, Changes: YML

#479 tweak: borgs are opened with screwdrivers again
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML, Changes: Upstream

#456 feat: fizz emote for slimes
  Resources/Audio/_starcup/Emotes/Slime/attributions.yml
  Resources/Audio/_starcup/Emotes/Slime/fizz.ogg
  Resources/Locale/en-US/_starcup/chat/emotes.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_starcup/SoundCollections/Emotes/slime.yml
  Resources/Prototypes/_starcup/Voice/Emotes/slime.yml
  Resources/Textures/_starcup/Interface/Emotes/attributions.yml
  Resources/Textures/_starcup/Interface/Emotes/fizz.png
Labels: Changes: Audio, size/S, S: Untriaged, Changes: No C#, Changes: YML, S: Needs Review, Changes: Upstream

#478 feat: deltav vent critter spawns
  Content.Server/StationEvents/Components/VentCritterSpawnLocationComponent.cs
  Content.Server/_DV/StationEvents/Events/Components/VentCrittersRuleLocalizedComponent.cs
  Content.Server/_DV/StationEvents/Events/Events/VentCrittersRuleLocalized.cs
  Resources/Locale/en-US/_DV/station-events/events/vent-critters.ftl
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/_DV/GameRules/events.yml
  Resources/Prototypes/_starcup/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/_starcup/GameRules/critters.yml
Labels: S: Untriaged, size/M, Changes: YML, Changes: Upstream, Changes: Port

#482 fix: add atmos tech head loadoutgroup to atmos role loadout
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: S: Untriaged
