Repository teamstarcup/starcup, pull requests merged in 2025-08, with the labels that each got.

#273 tweak: silicon repair kit
  Resources/Prototypes/_starcup/Catalog/Cargo/cargo_science.yml
  Resources/Prototypes/_starcup/Catalog/Fills/Crates/science.yml
  Resources/Prototypes/_starcup/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/_starcup/Entities/Objects/Specific/Medical/medkits.yml
  Resources/Textures/_starcup/Objects/Specific/Medical/firstaidkits.rsi/siliconkit-inhand-left.png
  Resources/Textures/_starcup/Objects/Specific/Medical/firstaidkits.rsi/siliconkit-inhand-right.png
  Resources/Textures/_starcup/Objects/Specific/Medical/firstaidkits.rsi/siliconkit.png
Labels: Changes: Sprites, size/S, S: Untriaged, Changes: No C#, Changes: YML

#272 feat: Allows the AAC tablet to send messages directly over the radio
  Content.Client/_DV/AACTablet/UI/AACBoundUserInterface.cs
  Content.Client/_DV/AACTablet/UI/AACWindow.xaml
  Content.Client/_DV/AACTablet/UI/AACWindow.xaml.cs
  Content.Client/_starcup/AACTablet/UI/AACBoundUserInterface.cs
  Content.Client/_starcup/AACTablet/UI/AACWindow.xaml.cs
  Content.Server/_DV/AACTablet/AACTabletSystem.cs
  Content.Server/_starcup/AACTablet/AACTabletSystem.cs
  Content.Shared/_DV/AACTablet/AACTabletUiMessages.cs
  Content.Shared/_starcup/AACTablet/AACTabletBuiState.cs
  Resources/Prototypes/_DV/Entities/Objects/Devices/aac_tablet.yml
Labels: Changes: UI, size/M, Changes: YML, S: Needs Review, Changes: Port

#278 poster ops
  Resources/Prototypes/_starcup/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_starcup/Entities/Structures/Machines/mailTeleporter.yml
  Resources/Prototypes/_starcup/Entities/Structures/Wallmounts/posters.yml
  Resources/Textures/_starcup/Structures/Machines/mailbox.rsi/icon.png
  Resources/Textures/_starcup/Structures/Machines/mailbox.rsi/meta.json
  Resources/Textures/_starcup/Structures/Machines/mailbox.rsi/unlit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/meta.json
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster10_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster11_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster12_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster15_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster16_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster17_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster19_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster1_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster20_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster21_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster22_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster24_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster28_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster2_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster30_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster31_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster34_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster38_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster3_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster4_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster50_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster51_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster5_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster6_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster7_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster8_legit.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters_rebrand.rsi/poster9_legit.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M, Changes: YML

#280 fix: security/prisoner telecom server fixes
  Resources/Prototypes/Entities/Structures/Machines/telecomms.yml
  Resources/Prototypes/_starcup/Roles/Jobs/Wildcards/prisoner.yml
Labels: Changes: No C#, Changes: YML, Changes: Upstream

#279 feat: player ghost role spawners
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Server/_DV/Ghost/Roles/Components/GhostRoleCharacterSpawnerComponent.cs
  Content.Server/_DV/Ghost/Roles/GhostRoleSystem.Character.cs
  Resources/Prototypes/_DV/Entities/Markers/Spawners/ghost_roles.yml
Labels: S: Untriaged, size/M, Changes: YML, Changes: Upstream, Changes: Port

#281 feat: pen holder and paper bin crafting
  Resources/Prototypes/Entities/Structures/Storage/paper_bin.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Storage/penholder.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/Graphs/storage/paperbin.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/Graphs/storage/penholder.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/storage.yml
  Resources/Textures/_Impstation/Objects/Storage/penholder.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Storage/penholder.rsi/penholder0.png
  Resources/Textures/_Impstation/Objects/Storage/penholder.rsi/penholder1.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M, Changes: YML, Changes: Upstream, Changes: Port

#283 fix: starcup changelog has a locstring
  Resources/Locale/en-US/_starcup/changelog/changelog-window.ftl
Labels: size/XS, Changes: No C#, Changes: Upstream

#284 feat: eyepatch/glasses loadouts
  Resources/Locale/en-US/_starcup/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_DV/Loadouts/role_loadouts.yml
  Resources/Prototypes/_DV/Roles/Jobs/Command/administrative_assistant.yml
  Resources/Prototypes/_starcup/Loadouts/Jobs/Civilian/bartender.yml
  Resources/Prototypes/_starcup/Loadouts/Jobs/Command/command_shared.yml
  Resources/Prototypes/_starcup/Loadouts/Jobs/Science/roboticist.yml
  Resources/Prototypes/_starcup/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/_starcup/Loadouts/Miscellaneous/glasses.yml
  Resources/Prototypes/_starcup/Loadouts/loadout_groups.yml
Labels: Changes: No C#, size/M, Changes: YML, Changes: Upstream, Changes: Port

#289 fix: loop updates (missing jobs, more intercoms)
  Resources/Maps/_starcup/loop.yml
  Resources/Prototypes/_starcup/Maps/loop.yml
Labels: S: Untriaged, size/L, Changes: No C#, Changes: Map, Changes: YML

#288 feat: inverted eskie plushie
  Resources/Locale/en-US/_starcup/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_starcup/Entities/Objects/Fun/plushies.yml
  Resources/Prototypes/_starcup/Recipes/Cooking/food_sequence_element.yml
  Resources/Textures/_starcup/Objects/Fun/plushies.rsi/eikse.png
  Resources/Textures/_starcup/Objects/Fun/plushies.rsi/meta.json
Labels: Changes: Sprites, size/S, S: Untriaged, Changes: No C#, Changes: YML, Changes: Upstream

#291 map(byoin): access levels, new items
  Resources/Maps/_starcup/byoin.yml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: Map, Changes: YML

#286 tweak: species guidebook rewrites
  Resources/Prototypes/Guidebook/species.yml
  Resources/Prototypes/_DV/Guidebook/species.yml
  Resources/Prototypes/_starcup/Guidebook/species.yml
  Resources/ServerInfo/Guidebook/Mobs/_starcup/DionaStarcup.xml
  Resources/ServerInfo/Guidebook/Mobs/_starcup/Doptera.xml
  Resources/ServerInfo/Guidebook/Mobs/_starcup/FelinidStarcup.xml
  Resources/ServerInfo/Guidebook/Mobs/_starcup/HarpyStarcup.xml
  Resources/ServerInfo/Guidebook/Mobs/_starcup/HumanStarcup.xml
  Resources/ServerInfo/Guidebook/Mobs/_starcup/Kobold.xml
  Resources/ServerInfo/Guidebook/Mobs/_starcup/MKC.xml
  Resources/ServerInfo/Guidebook/Mobs/_starcup/OniStarcup.xml
  Resources/ServerInfo/Guidebook/Mobs/_starcup/RodentiaStarcup.xml
  Resources/ServerInfo/Guidebook/Mobs/_starcup/SlimePersonStarcup.xml
  Resources/ServerInfo/Guidebook/Mobs/_starcup/SpeciesStarcup.xml
  Resources/ServerInfo/Guidebook/Mobs/_starcup/Unathi.xml
  Resources/ServerInfo/Guidebook/Mobs/_starcup/VoxStarcup.xml
  Resources/ServerInfo/Guidebook/Mobs/_starcup/Vulpekin.xml
Labels: S: Untriaged, Changes: No C#, size/M, Changes: YML, Changes: Upstream, Changes: Port, Changes: Guidebook

#299 tweak: lots of drink flavor text rewrites
  Resources/Locale/en-US/_DV/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_starcup/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_starcup/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/_DV/Flavors/flavors.yml
  Resources/Prototypes/_DV/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_DV/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/_starcup/Flavors/flavors.yml
Labels: S: Untriaged, size/L, Changes: No C#, Changes: YML, Changes: Upstream, Changes: Port

#304 fix: Adds default value to AdminEntries
  Content.Shared/_CD/Records/PlayerProvidedCharacterRecords.cs
Labels: size/XS, Changes: Port

#305 fix: sign and button centering fix
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/base_structuresigns.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Switches/switch.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/base_wallmount.yml
Labels: S: Untriaged, Changes: No C#, size/M, Changes: YML, Changes: Upstream

#306 map(train): general train update
  Resources/Maps/_starcup/train.yml
  Resources/Prototypes/_starcup/Maps/train.yml
Labels: Changes: No C#, size/XL, Changes: Map, Changes: YML

#309 ci: set up checks for merge queue
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/check-crlf.yml
  .github/workflows/check-trailing-whitespace.yml
  .github/workflows/lint-pull-request-title.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: Changes: No C#, Changes: YML, Changes: Upstream

#313 fix: syndicate captain hardsuit storage
  Resources/Maps/_starcup/loop.yml
  Resources/Maps/_starcup/omega.yml
  Resources/Maps/_starcup/train.yml
  Resources/Migrations/syndicate-migrations.yml
  Resources/Prototypes/_starcup/Catalog/Fills/Lockers/suit_storage.yml
Labels: size/S, Changes: No C#, Changes: Map, Changes: YML, Changes: Upstream

#312 tweak: make insuls engineering contraband (without the mapping changes)
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML, Changes: Upstream

#301 map(shoko): a big port for a little port
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_starcup/shoukou.yml
  Resources/Prototypes/_starcup/Maps/shoukou.yml
Labels: S: Untriaged, Changes: No C#, size/XL, Changes: Map, Changes: YML, Changes: Upstream

#317 feat: potty mouth trait & implanter
  Content.Server/_starcup/Implants/GenericImplantComponent.cs
  Content.Server/_starcup/Implants/GenericImplantSystem.cs
  Content.Server/_starcup/Speech/PottyMouthAccentSystem.cs
  Content.Server/_starcup/Speech/PottyMouthComponent.cs
  Resources/Locale/en-US/_starcup/accent/pottymouth.ftl
  Resources/Locale/en-US/_starcup/traits/traits.ftl
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_starcup/Accents/pottymouth.yml
  Resources/Prototypes/_starcup/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_starcup/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_starcup/Traits/speech.yml
Labels: size/M, Changes: YML, Changes: Upstream

#318 feat: map-lit parallaxes
  Content.Client/Parallax/Data/ParallaxLayerConfig.cs
  Content.Client/Parallax/ParallaxOverlay.cs
  Resources/Prototypes/_starcup/Parallaxes/planet.yml
Labels: size/S, S: Untriaged, Changes: YML, Changes: Upstream

#326 fix: add shoukou to the map pool
  Resources/Prototypes/_starcup/Maps/Pools/default.yml
Labels: size/XS, Changes: No C#, Changes: YML

#328 feat: obliterate departmental economy with migrations
  Resources/Migrations/starcup-migrations.yml
Labels: size/S, Changes: No C#, Changes: YML, Changes: Upstream

#327 feat: add flipped eyepatch to loadouts
  Resources/Prototypes/_starcup/Loadouts/Miscellaneous/glasses.yml
  Resources/Prototypes/_starcup/Loadouts/loadout_groups.yml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: YML

#330 fix: cargo shuttle for banana
  Resources/Prototypes/_starcup/Maps/banana.yml
Labels: size/XS, Changes: No C#, Changes: YML

#334 feat: lucky cats
  Resources/Prototypes/_starcup/Entities/Structures/Furniture/Decor/maneki_neko.yml
  Resources/Textures/_starcup/Structures/Furniture/Decor/maneki-neko.rsi/base.png
  Resources/Textures/_starcup/Structures/Furniture/Decor/maneki-neko.rsi/meta.json
  Resources/Textures/_starcup/Structures/Furniture/Decor/maneki-neko.rsi/overlay.png
Labels: Changes: Sprites, size/S, S: Untriaged, Changes: No C#, Changes: YML

#338 tweak: meteor rebalancing pass
  Resources/Prototypes/GameRules/meteorswarms.yml
  Resources/Prototypes/_starcup/Entities/Objects/Weapons/Guns/Projectiles/meteors.yml
  Resources/Prototypes/_starcup/GameRules/meteorswarms.yml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: YML, Changes: Upstream

#340 fix: space dust explodes on contact
  Resources/Prototypes/_starcup/Entities/Objects/Weapons/Guns/Projectiles/meteors.yml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: YML

#344 perf: track all previous tiles for vapor entities
  Content.Server/Chemistry/Components/VaporComponent.cs
  Content.Server/Chemistry/EntitySystems/VaporSystem.cs
Labels: size/S, S: Untriaged, Changes: Upstream

#348 feat: drink dispenser whitelist adds (also big sol dry bottle)
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks-cartons.yml
  Resources/Prototypes/Entities/Structures/Dispensers/soda.yml
  Resources/Prototypes/_starcup/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Textures/_starcup/Objects/Consumable/Drinks/soldry_bottle.rsi/fill-1.png
  Resources/Textures/_starcup/Objects/Consumable/Drinks/soldry_bottle.rsi/fill-2.png
  Resources/Textures/_starcup/Objects/Consumable/Drinks/soldry_bottle.rsi/fill-3.png
  Resources/Textures/_starcup/Objects/Consumable/Drinks/soldry_bottle.rsi/fill-4.png
  Resources/Textures/_starcup/Objects/Consumable/Drinks/soldry_bottle.rsi/fill-5.png
  Resources/Textures/_starcup/Objects/Consumable/Drinks/soldry_bottle.rsi/icon.png
  Resources/Textures/_starcup/Objects/Consumable/Drinks/soldry_bottle.rsi/icon_empty.png
  Resources/Textures/_starcup/Objects/Consumable/Drinks/soldry_bottle.rsi/icon_open.png
  Resources/Textures/_starcup/Objects/Consumable/Drinks/soldry_bottle.rsi/inhand-left-fill-1.png
  Resources/Textures/_starcup/Objects/Consumable/Drinks/soldry_bottle.rsi/inhand-left-fill-2.png
  Resources/Textures/_starcup/Objects/Consumable/Drinks/soldry_bottle.rsi/inhand-left-fill-3.png
  Resources/Textures/_starcup/Objects/Consumable/Drinks/soldry_bottle.rsi/inhand-left.png
  Resources/Textures/_starcup/Objects/Consumable/Drinks/soldry_bottle.rsi/inhand-right-fill-1.png
  Resources/Textures/_starcup/Objects/Consumable/Drinks/soldry_bottle.rsi/inhand-right-fill-2.png
  Resources/Textures/_starcup/Objects/Consumable/Drinks/soldry_bottle.rsi/inhand-right-fill-3.png
  Resources/Textures/_starcup/Objects/Consumable/Drinks/soldry_bottle.rsi/inhand-right.png
  Resources/Textures/_starcup/Objects/Consumable/Drinks/soldry_bottle.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, Changes: YML, Changes: Upstream

#345 fix: rebranding ops fixes
  Resources/Locale/en-US/_starcup/headset/headset-component.ftl
  Resources/Locale/en-US/_starcup/job/department.ftl
  Resources/Locale/en-US/_starcup/job/job-supervisors.ftl
  Resources/Locale/en-US/_starcup/prototypes/access/accesses.ftl
  Resources/Locale/en-US/administration/commands/announce-command.ftl
  Resources/Locale/en-US/administration/ui/admin-announce-window.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/Locale/en-US/job/job-supervisors.ftl
  Resources/Locale/en-US/shuttles/emergency.ftl
  Resources/Maps/_starcup/byoin.yml
  Resources/Maps/_starcup/loop.yml
  Resources/Maps/_starcup/omega.yml
  Resources/Maps/_starcup/syndcomm.yml
  Resources/Migrations/syndicate-migrations.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_DV/QuickPhrases/jobs.yml
  Resources/Prototypes/_starcup/Access/syndcomm.yml
  Resources/Prototypes/_starcup/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_starcup/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_starcup/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_starcup/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_starcup/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/_starcup/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_starcup/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_starcup/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/_starcup/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_starcup/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/_starcup/Entities/Objects/base_contraband.yml
  Resources/Prototypes/_starcup/Entities/Structures/Doors/Airlocks/Windoors/windoor.yml
  Resources/Prototypes/_starcup/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_starcup/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/_starcup/Entities/Structures/Shutter/access.yml
  Resources/Prototypes/_starcup/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/_starcup/Maps/syndcomm.yml
  Resources/Prototypes/_starcup/Roles/Jobs/SyndComm/syndcomm.yml
  Resources/Prototypes/_starcup/Roles/Jobs/departments.yml
  Resources/Prototypes/_starcup/radio_channels.yml
  Resources/Textures/_Impstation/Interface/Paper/Stamps/attributions.yml
  Resources/Textures/_Impstation/Interface/Paper/Stamps/large_stamp-syndcomm.png
  Resources/Textures/_starcup/Objects/Misc/id_cards.rsi/idadminassistant.png
  Resources/Textures/_starcup/Objects/Misc/id_cards.rsi/idcaptain.png
  Resources/Textures/_starcup/Objects/Misc/id_cards.rsi/idchiefengineer.png
  Resources/Textures/_starcup/Objects/Misc/id_cards.rsi/idchiefmedicalofficer.png
  Resources/Textures/_starcup/Objects/Misc/id_cards.rsi/idheadofpersonnel.png
  Resources/Textures/_starcup/Objects/Misc/id_cards.rsi/idheadofsecurity.png
  Resources/Textures/_starcup/Objects/Misc/id_cards.rsi/idquartermaster.png
  Resources/Textures/_starcup/Objects/Misc/id_cards.rsi/idresearchdirector.png
  Resources/Textures/_starcup/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/_starcup/Objects/Misc/pens.rsi/meta.json
  Resources/Textures/_starcup/Objects/Misc/pens.rsi/pen_hop_syndi.png
  Resources/Textures/_starcup/Structures/Wallmounts/signs.rsi/dock.png
  Resources/Textures/_starcup/Structures/Wallmounts/signs.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M, Changes: Map, Changes: YML, Changes: Upstream, Changes: Port

#350 fix: add random lockbox spawner to migrations
  Resources/Migrations/starcup-migrations.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML, Changes: Upstream

#333 feat: new paintings
  Resources/Prototypes/_starcup/Entities/Structures/Wallmounts/tgpaintings.yml
  Resources/Textures/_starcup/Structures/Wallmounts/Framed/tgpaintings.rsi/debug.png
  Resources/Textures/_starcup/Structures/Wallmounts/Framed/tgpaintings.rsi/desire.png
  Resources/Textures/_starcup/Structures/Wallmounts/Framed/tgpaintings.rsi/meta.json
  Resources/Textures/_starcup/Structures/Wallmounts/Framed/tgpaintings.rsi/rust.png
  Resources/Textures/_starcup/Structures/Wallmounts/Framed/tgpaintings.rsi/vines.png
  Resources/Textures/_starcup/Structures/Wallmounts/Framed/tgpaintings.rsi/weeping.png
  Resources/Textures/_starcup/Structures/Wallmounts/Framed/tgsquares.rsi/fruit.png
  Resources/Textures/_starcup/Structures/Wallmounts/Framed/tgsquares.rsi/meta.json
  Resources/Textures/_starcup/Structures/Wallmounts/Framed/tgsquares.rsi/rat.png
  Resources/Textures/_starcup/Structures/Wallmounts/Framed/tgsquares.rsi/ratvar.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M, Changes: YML

#353 fix: add warp command permission
  Resources/clientCommandPerms.yml
Labels: size/XS, Changes: No C#, Changes: YML, Changes: Upstream

#354 fix: pos command perm
  Resources/engineCommandPerms.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML, Changes: Upstream

#364 tweak: shrink decal chunk size from 32 to 8
  Content.Shared/Decals/SharedDecalSystem.cs
Labels: S: Untriaged, size/XS, Changes: Upstream
