Repository teamstarcup/starcup, pull requests merged in 2025-05, with the labels that each got.

#34 feat: enable hsv skintones for everyone
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/_DeltaV/Species/felinid.yml
  Resources/Prototypes/_DeltaV/Species/harpy.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML

#35 feat: adjust species sizes
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_DeltaV/Species/felinid.yml
  Resources/Prototypes/_DeltaV/Species/harpy.yml
  Resources/Prototypes/_DeltaV/Species/rodentia.yml
  Resources/Prototypes/_EinsteinEngines/Species/ipc.yml
Labels: size/S, S: Untriaged, Changes: YML

#24 feat: footprints and bloodstains
  Content.Client/_EinsteinEngines/FootPrint/FootPrintsVisualizerSystem.cs
  Content.Server/_EinsteinEngines/FootPrint/FootPrintsSystem.cs
  Content.Server/_EinsteinEngines/FootPrint/PuddleFootPrintsSystem.cs
  Content.Shared/_EinsteinEngines/Footprint/FootPrintComponent.cs
  Content.Shared/_EinsteinEngines/Footprint/FootPrintVisuals.cs
  Content.Shared/_EinsteinEngines/Footprint/FootPrintsComponent.cs
  Content.Shared/_EinsteinEngines/Footprint/PuddleFootPrintsComponent.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/dragging-1.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/dragging-2.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/dragging-3.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/dragging-4.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/dragging-5.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/dragging-test.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/footprint-left-bare-diona.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/footprint-left-bare-dwarf.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/footprint-left-bare-human.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/footprint-left-bare-lizard.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/footprint-left-bare-slime.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/footprint-left-bare-spider.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/footprint-right-bare-diona.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/footprint-right-bare-dwarf.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/footprint-right-bare-human.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/footprint-right-bare-lizard.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/footprint-right-bare-slime.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/footprint-right-bare-spider.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/footprint-shoes.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/footprint-suit.png
  Resources/Textures/_EinsteinEngines/Effects/footprints.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M, Changes: YML

#43 fix: give felinids, harpies, and vulpekin the correct hand placements
  Resources/Prototypes/_DeltaV/Body/Prototypes/felinid.yml
  Resources/Prototypes/_DeltaV/Body/Prototypes/harpy.yml
  Resources/Prototypes/_DeltaV/Body/Prototypes/vulpkanin.yml
Labels: Changes: No C#, Changes: YML

#40 Localise the AAC tablet UI
  Content.Client/_DeltaV/AACTablet/UI/AACWindow.xaml
Labels: Changes: UI, S: Untriaged, size/XS, Changes: No C#

#46 fix: ipc causes TryStopNukeOpsFromConstantlyFailing test to fail
  Content.IntegrationTests/Tests/GameRules/NukeOpsTest.cs
Labels: S: Untriaged, size/XS

#45 fix: disable missing mail prototypes
  Resources/Prototypes/_DeltaV/Mail/mailDeliveries.yml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: YML

#44 fix: glacier rat king spawn, decals, armory lights
  Resources/Maps/_starcup/glacier.yml
Labels: S: Untriaged, Changes: No C#, size/XL, Changes: Map, Changes: YML

#47 fix: change AlertsComponentTest for mkc compatibility
  Content.IntegrationTests/Tests/GameObjects/Components/Mobs/AlertsComponentTests.cs
Labels: size/S, S: Untriaged

#52 tweak: allow hugging buckled people
  Content.Shared/Buckle/SharedBuckleSystem.Interaction.cs
Labels: S: Untriaged, size/XS

#51 fix: painkiller availability
  Resources/Locale/en-US/_DeltaV/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Prototypes/_CosmaticDrift/Reactions/medicine.yml
  Resources/Prototypes/_DeltaV/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/_DeltaV/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/_DeltaV/Entities/Objects/Specific/Medical/healing.yml
Labels: Changes: No C#, size/M, Changes: YML

#54 tweak: remove role timers from mantles
  Resources/Prototypes/Loadouts/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Loadouts/Jobs/Science/research_director.yml
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: YML

#53 tweak: allow jetpacks to fit in suit storage
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/black.rsi/equipped-BACKPACK.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/black.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/black.rsi/icon-on.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/black.rsi/icon.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/black.rsi/inhand-left.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/black.rsi/inhand-right.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/black.rsi/meta.json
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/black.rsi/on-equipped-BACKPACK.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/black.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/blue.rsi/equipped-BACKPACK.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/blue.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/blue.rsi/icon-on.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/blue.rsi/icon.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/blue.rsi/inhand-left.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/blue.rsi/inhand-right.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/blue.rsi/meta.json
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/blue.rsi/on-equipped-BACKPACK.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/blue.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/security.rsi/equipped-BACKPACK.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/security.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/security.rsi/icon-on.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/security.rsi/icon.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/security.rsi/inhand-left.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/security.rsi/inhand-right.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/security.rsi/meta.json
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/security.rsi/on-equipped-BACKPACK.png
  Resources/Textures/_DeltaV/Objects/Tanks/Jetpacks/security.rsi/on-equipped-SUITSTORAGE.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M, Changes: YML

#50 fix: missing hunger/thirst components, base hunger rate
  Content.Shared/Nutrition/Components/HungerComponent.cs
  Resources/Prototypes/_DeltaV/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/_DeltaV/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_DeltaV/Entities/Mobs/Species/rodentia.yml
Labels: size/S, S: Untriaged, Changes: YML

#48 fix: criminal records console bugpatch
  Content.Client/_CosmaticDrift/Records/UI/CharacterRecordViewer.xaml.cs
  Content.Server/CriminalRecords/Systems/CriminalRecordsConsoleSystem.cs
  Content.Server/_CosmaticDrift/Records/Consoles/CharacterRecordConsoleSystem.cs
Labels: Changes: UI, S: Untriaged

#49 tweak: remove thieving abilities from felinids
  Resources/Prototypes/_DeltaV/Entities/Mobs/Species/felinid.yml
  Resources/ServerInfo/Guidebook/Mobs/_DeltaV/Felinid.xml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: YML

#55 feat: paperwork belt
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DeltaV/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/_DeltaV/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DeltaV/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_DeltaV/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_DeltaV/Roles/Jobs/Command/administrative_assistant.yml
  Resources/Textures/_DeltaV/Clothing/Belt/paperwork.rsi/equipped-BELT.png
  Resources/Textures/_DeltaV/Clothing/Belt/paperwork.rsi/icon.png
  Resources/Textures/_DeltaV/Clothing/Belt/paperwork.rsi/inhand-left.png
  Resources/Textures/_DeltaV/Clothing/Belt/paperwork.rsi/inhand-right.png
  Resources/Textures/_DeltaV/Clothing/Belt/paperwork.rsi/meta.json
Labels: Changes: Sprites, size/S, S: Untriaged, Changes: No C#, Changes: YML

#56 tweak: mining quality of life updates
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Structures/Storage/ore_box.yml
Labels: size/S, Changes: No C#, Changes: YML

#57 fix: map vote options
  Resources/Prototypes/_starcup/Maps/Pools/default.yml
  Resources/Prototypes/_starcup/Maps/glacier.yml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: YML

#58 Adds a typing indicator to the AAC
  Content.Client/Chat/TypingIndicator/TypingIndicatorSystem.cs
  Content.Client/Chat/TypingIndicator/TypingIndicatorVisualizerSystem.cs
  Content.Client/_DeltaV/AACTablet/UI/AACBoundUserInterface.cs
  Content.Client/_DeltaV/AACTablet/UI/AACWindow.xaml.cs
  Content.Client/_DeltaV/Chat/TypingIndicator/TypingIndicatorSystem.AlternateTypingIndicator.cs
  Content.Shared/Chat/TypingIndicator/SharedTypingIndicatorSystem.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorComponent.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorEvents.cs
  Resources/Prototypes/_DeltaV/typing_indicator.yml
  Resources/Textures/_DeltaV/Effects/speech.rsi/aac0.png
  Resources/Textures/_DeltaV/Effects/speech.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, S: Untriaged, Changes: YML

#60 tweak: remove redundant survival event scheduler
  Resources/Prototypes/game_presets.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML

#61 tweak: disabled multiple ruins
  Resources/Prototypes/Entities/Stations/base.yml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: YML

#63 tweak: let monkeys wear outer clothing
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/InventoryTemplates/monkey_inventory_template.yml
  Resources/Prototypes/tags.yml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: YML

#64 tweak: disabled some unknown shuttles
  Resources/Prototypes/GameRules/unknown_shuttles.yml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: YML

#65 tweak: adjusted Omega and Packed minimum player limits
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packed.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: Map, Changes: YML

#66 feat: new species emote stuff
  Resources/Audio/_DeltaV/Effects/Gasp/attributions.yml
  Resources/Audio/_DeltaV/Effects/Gasp/vox_deathgasp_1.ogg
  Resources/Audio/_DeltaV/Effects/Gasp/vox_gasp_1.ogg
  Resources/Audio/_DeltaV/Effects/Gasp/vox_gasp_2.ogg
  Resources/Locale/en-US/_DeltaV/chat/emotes.ftl
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_DeltaV/SoundCollections/harpy.yml
  Resources/Prototypes/_DeltaV/SoundCollections/vox.yml
  Resources/Prototypes/_DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/_EinsteinEngines/Voice/speech_emotes.yml
  Resources/Textures/_DeltaV/Interface/Emotes/attributions.yml
  Resources/Textures/_DeltaV/Interface/Emotes/awoo.png
  Resources/Textures/_DeltaV/Interface/Emotes/bark.png
  Resources/Textures/_DeltaV/Interface/Emotes/caw.png
  Resources/Textures/_DeltaV/Interface/Emotes/ecg.png
  Resources/Textures/_DeltaV/Interface/Emotes/growl.png
  Resources/Textures/_DeltaV/Interface/Emotes/hiss.png
  Resources/Textures/_DeltaV/Interface/Emotes/howl.png
  Resources/Textures/_DeltaV/Interface/Emotes/meow.png
  Resources/Textures/_DeltaV/Interface/Emotes/mew.png
  Resources/Textures/_DeltaV/Interface/Emotes/purr.png
  Resources/Textures/_DeltaV/Interface/Emotes/ring.png
  Resources/Textures/_DeltaV/Interface/Emotes/snarl.png
  Resources/Textures/_DeltaV/Interface/Emotes/whine.png
Labels: Changes: Audio, S: Untriaged, Changes: No C#, size/M, Changes: YML

#67 fix: felinid stomach fixes
  Resources/Prototypes/_DeltaV/Body/Prototypes/felinid.yml
Labels: S: Untriaged, Changes: No C#, Changes: YML

#68 feat: paper signature system
  Content.Shared/_DeltaV/Paper/SignatureEvents.cs
  Content.Shared/_DeltaV/Paper/SignatureSystem.cs
  Resources/Locale/en-US/deltav/paper/signature.ftl
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-signature.png
Labels: Changes: Sprites, size/M

#69 fix: add missing carriable components
  Resources/Prototypes/_DeltaV/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/_DeltaV/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML

#72 Cherrypicking vulp scar whitelist from Delta-V
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
Labels: S: Untriaged, Changes: No C#, Changes: YML

#71 tweak: adjusted some jobs' roundstart gear
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: YML

#73 tweak: meteor event minimum player increase
  Resources/Prototypes/GameRules/meteorswarms.yml
Labels: S: Untriaged, Changes: No C#, Changes: YML

#74 tweak: ramping event scheduler adjustments
  Content.Server/StationEvents/Components/RampingStationEventSchedulerComponent.cs
  Content.Server/StationEvents/RampingStationEventSchedulerSystem.cs
Labels: size/S, S: Untriaged

#76 tweak: added missing map components to Glacier
  Resources/Maps/_starcup/glacier.yml
Labels: Changes: No C#, Changes: Map, Changes: YML

#78 tweak: added spare IDs to department head lockers
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML

#79 tweak: added jetpacks to sec suit storage units
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML

#77 fix: fixes suicide command test failure
  Content.IntegrationTests/Tests/Commands/SuicideCommandTests.cs
Labels: S: Untriaged, size/XS

#82 tweak: added space medipens to survival boxes
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML

#83 tweak: engineering goggles now give +70% vision correction
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
Labels: S: Untriaged, Changes: No C#, Changes: YML, S: Needs Review

#84 feat: health analyzer reactivation
  Content.Server/Medical/Components/HealthAnalyzerComponent.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
Labels: size/S, S: Untriaged

#81 tweak: swapped janibelt's soap for trashbag
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML

#89 feat: port Cosmatic Drift dogtags trinket w/DV tweaks
  Content.Server/_CosmaticDrift/Engraving/EngraveableComponent.cs
  Content.Server/_CosmaticDrift/Engraving/EngraveableSystem.cs
  Resources/Locale/en-US/_CosmaticDrift/engraving/engraving.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_CosmaticDrift/Entities/Objects/Misc/dogtags.yml
  Resources/Prototypes/_CosmaticDrift/Loadouts/Miscellaneous/trinkets.yml
  Resources/Textures/_CosmaticDrift/Objects/Misc/dogtags.rsi/dogtag.png
  Resources/Textures/_CosmaticDrift/Objects/Misc/dogtags.rsi/equipped-NECK.png
  Resources/Textures/_CosmaticDrift/Objects/Misc/dogtags.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M, Changes: YML

#90 Tweak: add loadout scarves and trinkets
  Resources/Locale/en-US/_DeltaV/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_DeltaV/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/_DeltaV/Loadouts/Miscellaneous/scarfs.yml
  Resources/Prototypes/_DeltaV/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_DeltaV/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DeltaV/Loadouts/role_loadouts.yml
  Resources/Prototypes/_starcup/Loadouts/Miscellaneous/trinkets.yml
Labels: S: Untriaged, Changes: No C#, size/M, Changes: YML

#91 tweak: basic calm and antag event rebalancing
  Content.Server/StationEvents/Components/GasLeakRuleComponent.cs
  Content.Server/StationEvents/Components/VentClogRuleComponent.cs
  Content.Server/StationEvents/Events/GasLeakRule.cs
  Resources/Prototypes/GameRules/events.yml
Labels: size/S, S: Untriaged, Changes: YML

#92 tweak: wizards removed, minPlayers increased for revs + zombies
  Resources/Prototypes/GameRules/roundstart.yml
Labels: size/XS, Changes: No C#, Changes: YML

#94 tweak: updated figurine voice line overhaul
  Resources/Locale/en-US/datasets/figurines.ftl
  Resources/Prototypes/Datasets/figurines.yml
Labels: Changes: No C#, size/M, Changes: YML

#95 tweak: add space medipen to more survival boxes
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: YML

#97 feat: add syndicomm
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Maps/NameGenerators/SyndicateNameGenerator.cs
  Resources/Maps/_starcup/syndicomm.yml
  Resources/Prototypes/Maps/centcomm.yml
Labels: size/XL, Changes: Map, Changes: YML, S: Needs Review

#96 tweak: deltav AME generation changes, alerts
  Content.Server/Ame/AmeNodeGroup.cs
  Content.Server/Ame/Components/AmeControllerComponent.cs
  Content.Server/Ame/EntitySystems/AmeControllerSystem.cs
  Content.Server/_DeltaV/Ame/AmeControllerSystem.cs
  Resources/Locale/en-US/_DeltaV/engineering/warnings.ftl
Labels: size/S, S: Untriaged

#88 Synth trait cherry-pick from Delta-V
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/StationEvents/Events/IonStormRule.cs
  Content.Server/_CosmaticDrift/Traits/SynthComponent.cs
  Content.Server/_CosmaticDrift/Traits/SynthSystem.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorComponent.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Locale/en-US/_CosmaticDrift/reagents/meta/biological.ftl
  Resources/Locale/en-US/_CosmaticDrift/station/events.ftl
  Resources/Locale/en-US/_CosmaticDrift/traits/traits.ftl
  Resources/Prototypes/_CosmaticDrift/Reagents/biological.yml
  Resources/Prototypes/_CosmaticDrift/Traits/traits.yml
Labels: Changes: UI, S: Untriaged, size/M, Changes: YML, S: Needs Review

#103 fix: actually load syndicomm with the evac shuttle
  Content.Server/Shuttles/Components/StationCentcommComponent.cs
Labels: S: Untriaged, size/XS, S: Needs Review

#104 tweak: new emergency shuttle fixes
  Resources/Maps/_starcup/Shuttles/SYND_EmergencyShuttle.yml
  Resources/Maps/_starcup/Shuttles/SYND_EvacShip.yml
Labels: S: Untriaged, Changes: No C#, Changes: Map, Changes: YML
