Repository teamstarcup/starcup, pull requests merged in 2025-07, with the labels that each got.

#193 feat: notebooks
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/_starcup/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/_starcup/Entities/Markers/Spawners/Random/notebooks.yml
  Resources/Prototypes/_starcup/Entities/Objects/Misc/notebooks.yml
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/composition-black.png
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/composition-blue.png
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/composition-green.png
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/composition-pink.png
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/composition-red.png
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/composition-yellow.png
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/meta.json
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/notebook-random.png
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/pocket-blue.png
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/pocket-brown.png
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/pocket-green.png
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/pocket-random.png
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/spiral-beige.png
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/spiral-cybersun.png
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/spiral-gray.png
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/spiral-interdyne.png
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/spiral-nanotrasen.png
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/spiral-purple.png
  Resources/Textures/_starcup/Objects/Misc/notebooks.rsi/spiral-teal.png
Labels: Changes: Sprites, Changes: No C#, size/M, Changes: YML

#200 feat: port kimonos from Nyanotrasen
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_DeltaV/Entities/Clothing/Uniforms/kimonos.yml
  Resources/Prototypes/_DeltaV/Entities/Objects/Specific/Mail/mail.yml
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-blue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-blue.rsi/icon.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-blue.rsi/inhand-left.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-blue.rsi/inhand-right.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-blue.rsi/meta.json
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-green.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-green.rsi/icon.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-green.rsi/inhand-left.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-green.rsi/inhand-right.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-green.rsi/meta.json
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-pink.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-pink.rsi/icon.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-pink.rsi/inhand-left.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-pink.rsi/inhand-right.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-pink.rsi/meta.json
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-purple.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-purple.rsi/icon.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-purple.rsi/inhand-left.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-purple.rsi/inhand-right.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-purple.rsi/meta.json
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-sky.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-sky.rsi/icon.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-sky.rsi/inhand-left.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-sky.rsi/inhand-right.png
  Resources/Textures/_DeltaV/Clothing/Uniforms/Costume/kimono-sky.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M, Changes: YML

#202 fix: render undergarments below clothes
  Resources/Prototypes/_DeltaV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/_DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML, S: Needs Review

#205 feat: decaf coffee and imitation chocolate
  Resources/Locale/en-US/_starcup/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/en-US/_starcup/reagents/meta/consumable/food/food.ftl
  Resources/Locale/en-US/_starcup/seeds/seeds.ftl
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/coffee.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/snack.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Structures/Dispensers/soda.yml
  Resources/Prototypes/_starcup/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_starcup/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/_starcup/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/_starcup/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/_starcup/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/_starcup/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_starcup/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_starcup/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/_starcup/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_starcup/Hydroponics/seeds.yml
  Resources/Prototypes/_starcup/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/_starcup/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/_starcup/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_starcup/Recipes/Reactions/drinks.yml
  Resources/Prototypes/_starcup/Recipes/Reactions/food.yml
  Resources/Textures/_starcup/Objects/Consumable/Food/snacks.rsi/chocolatebar-imitation-inhand-left.png
  Resources/Textures/_starcup/Objects/Consumable/Food/snacks.rsi/chocolatebar-imitation-inhand-right.png
  Resources/Textures/_starcup/Objects/Consumable/Food/snacks.rsi/chocolatebar-imitation-trash.png
  Resources/Textures/_starcup/Objects/Consumable/Food/snacks.rsi/chocolatebar-imitation.png
  Resources/Textures/_starcup/Objects/Consumable/Food/snacks.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M, Changes: YML, S: Needs Review

#204 tweak: drink adjustments (alcohol, coffee, etc)
  Resources/Locale/en-US/_starcup/reagents/meta/toxins.ftl
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Prototypes/_DeltaV/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_DeltaV/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/_starcup/Reagents/toxins.yml
Labels: S: Untriaged, Changes: No C#, size/M, Changes: YML, S: Needs Review

#213 feat: unique glove fibers
  Content.Server/Forensics/Components/FiberComponent.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
Labels: size/S, S: Untriaged, S: Needs Review

#214 fix: imitation chocolate cake slices properly
  Resources/Prototypes/_starcup/Entities/Objects/Consumable/Food/Baked/cake.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML, S: Needs Review

#212 feat: Skittermouse Preview
  Resources/Prototypes/Guidebook/species.yml
  Resources/Prototypes/_starcup/Guidebook/skittermouse-preview.yml
  Resources/ServerInfo/Guidebook/Mobs/_starcup/Skittermouse.xml
  Resources/Textures/_starcup/Mobs/Species/Skittermouse/skittermouse_silhouette.png
Labels: size/S, Changes: No C#, Changes: YML, S: Needs Review

#217 fix: add suffixes to a bunch of nt antag items
  Resources/Prototypes/_starcup/Catalog/Fills/Backpacks/backpack.yml
  Resources/Prototypes/_starcup/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_starcup/Catalog/Fills/Boxes/nanotrasen.yml
  Resources/Prototypes/_starcup/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/_starcup/Catalog/Fills/Items/misc.yml
  Resources/Prototypes/_starcup/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/_starcup/Catalog/Fills/Paper/manuals.yml
  Resources/Prototypes/_starcup/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_starcup/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_starcup/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_starcup/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_starcup/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_starcup/Entities/Mobs/Player/human.yml
  Resources/Prototypes/_starcup/Entities/Objects/Devices/NanoTrasen_Gadgets/camera_bug.yml
  Resources/Prototypes/_starcup/Entities/Objects/Devices/NanoTrasen_Gadgets/guardian_activators.yml
  Resources/Prototypes/_starcup/Entities/Objects/Devices/NanoTrasen_Gadgets/reinforcement_teleporter.yml
  Resources/Prototypes/_starcup/Entities/Objects/Devices/NanoTrasen_Gadgets/singularity_beacon.yml
  Resources/Prototypes/_starcup/Entities/Objects/Devices/NanoTrasen_Gadgets/war_declarator.yml
  Resources/Prototypes/_starcup/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_starcup/Entities/Objects/Fun/plushies.yml
  Resources/Prototypes/_starcup/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_starcup/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_starcup/Entities/Objects/Power/powersink.yml
  Resources/Prototypes/_starcup/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/_starcup/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_starcup/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/_starcup/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_starcup/Entities/Objects/Tools/access_breaker.yml
  Resources/Prototypes/_starcup/Entities/Objects/Tools/decoys.yml
  Resources/Prototypes/_starcup/Entities/Objects/Tools/emag.yml
  Resources/Prototypes/_starcup/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/_starcup/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/_starcup/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_starcup/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_starcup/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_starcup/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/_starcup/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_starcup/Entities/Objects/Weapons/Throwable/scattering_grenades.yml
Labels: S: Untriaged, Changes: No C#, Changes: YML

#218 feat: add ability to force a job to spawn at its job spawns
  Content.Server/_starcup/Spawners/EntitySystems/ForcedJobContainerSpawnPointSystem.cs
  Content.Server/_starcup/Spawners/EntitySystems/ForcedJobSpawnPointSystem.cs
  Content.Shared/_starcup/Roles/JobPrototype.JobSpawns.cs
Labels: S: Untriaged, size/M, S: Needs Review

#230 fix: make vox carriable
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: size/XS, Changes: No C#, Changes: YML

#234 fix: prevent useless application of healing items for mkcs
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/_DeltaV/Entities/Objects/Specific/Medical/healing.yml
Labels: S: Untriaged, Changes: No C#, Changes: YML, S: Needs Review

#237 tweak: mkc healing buffs
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/_DeltaV/Entities/Objects/Specific/Medical/healing.yml
Labels: size/XS, Changes: No C#, Changes: YML

#232 tweak: custom mkc hair color
  Resources/Prototypes/_EinsteinEngines/Species/ipc.yml
Labels: Changes: No C#, Changes: YML, S: Needs Review

#239 tweak: scarf trinkets and maid loadout items
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DeltaV/Loadouts/Miscellaneous/scarfs.yml
  Resources/Prototypes/_DeltaV/Loadouts/loadout_groups.yml
  Resources/Prototypes/_starcup/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/_starcup/Loadouts/Miscellaneous/scarfs.yml
  Resources/Prototypes/_starcup/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_starcup/Loadouts/loadout_groups.yml
Labels: Changes: No C#, size/M, Changes: YML, S: Needs Review

#241 fix: loadout bugfixes
  Resources/Prototypes/_starcup/Loadouts/loadout_groups.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML, S: Needs Review

#244 feat: add a maid waistbag janibelt reskin
  Resources/Locale/en-US/_starcup/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/_starcup/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_starcup/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_starcup/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/_starcup/Loadouts/loadout_groups.yml
  Resources/Textures/_starcup/Clothing/Belt/waistbag_maid.rsi/equipped-BELT.png
  Resources/Textures/_starcup/Clothing/Belt/waistbag_maid.rsi/icon.png
  Resources/Textures/_starcup/Clothing/Belt/waistbag_maid.rsi/meta.json
Labels: Changes: Sprites, size/S, S: Untriaged, Changes: No C#, Changes: YML, S: Needs Review

#245 tweak: assorted drink adjustments I missed
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: S: Untriaged, Changes: No C#, Changes: YML

#254 map(reach): genpop, decal spawners
  Resources/Maps/_starcup/reach.yml
  Resources/Prototypes/_starcup/Maps/reach.yml
Labels: Changes: No C#, size/XL, Changes: Map, Changes: YML

#256 fix: small traitor uplink fixes
  Resources/Prototypes/_starcup/Catalog/uplink_catalog.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML

#266 fix: post-upstream merge mkc hotfixes
  Content.Server/_EE/Silicon/Death/Systems/SiliconChargeDeathSystem.cs
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Medical/healing.yml
Labels: S: Untriaged, Changes: YML, Changes: Upstream, Changes: Port

#268 feat: engineering warning sign holoprojectors
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/_DV/Entities/Structures/Holographic/projections.yml
  Resources/Textures/_DV/Objects/Devices/Holoprojectors/eng.rsi/icon.png
  Resources/Textures/_DV/Objects/Devices/Holoprojectors/eng.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Devices/Holoprojectors/eng.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Devices/Holoprojectors/eng.rsi/meta.json
  Resources/Textures/_DV/Structures/Holo/eng.rsi/icon.png
  Resources/Textures/_DV/Structures/Holo/eng.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M, Changes: YML, Changes: Upstream, Changes: Port
