Repository teamstarcup/starcup, pull requests merged in 2025-06, with the labels that each got.

#106 add: port of Delta-V mapping action presets
  Resources/mapping_actions_alarms.yml
  Resources/mapping_actions_disposals.yml
  Resources/mapping_actions_pipes.yml
  Resources/mapping_actions_power.yml
  Resources/mapping_actions_shuttles.yml
  Resources/mapping_actions_starcup.yml
Labels: S: Untriaged, Changes: No C#, size/M, Changes: YML

#107 tweak(map): minor SYND_EvacShip fixes
  Resources/Maps/_starcup/Shuttles/SYND_EvacShip.yml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: Map, Changes: YML

#101 feat: port byoin station from delta-v
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_starcup/byoin.yml
  Resources/Prototypes/_starcup/Maps/Pools/default.yml
  Resources/Prototypes/_starcup/Maps/byoin.yml
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XL, Changes: Map, Changes: YML, S: Needs Review

#113 tweak: disable random characters in dev environment
  Resources/ConfigPresets/Build/development.toml
Labels: size/XS, Changes: No C#

#111 feat: add weather blocker and ambient sfx entities
  Resources/Prototypes/_starcup/Entities/Markers/sfx.yml
  Resources/Prototypes/_starcup/Entities/Markers/weather.yml
  Resources/Textures/_starcup/Markers/markers.rsi/block_weather.png
  Resources/Textures/_starcup/Markers/markers.rsi/meta.json
  Resources/Textures/_starcup/Markers/markers.rsi/sfx_ambient.png
  Resources/Textures/_starcup/Markers/markers.rsi/sfx_stinger.png
Labels: Changes: Sprites, size/S, S: Untriaged, Changes: No C#, Changes: YML, S: Needs Review

#110 fix: declare data definition for VendingMachineInventoryEntry
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Client/VendingMachines/VendingMachineBoundUserInterface.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/VendingMachines/SharedVendingMachineSystem.cs
  Content.Shared/VendingMachines/VendingMachineComponent.cs
Labels: Changes: UI, size/S, S: Untriaged, S: Needs Review

#114 fix: render weather over steel herringbone tiles
  Resources/Prototypes/Tiles/floors.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML

#115 tweak: nerf cold protection of winter coats
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: S: Untriaged, Changes: No C#, Changes: YML

#119 fix: fix suicide test failures (again)
  Content.IntegrationTests/Tests/Commands/SuicideCommandTests.cs
Labels: S: Untriaged, size/XS

#118 add: port Lavaland and Glacier Surface from Delta-V
  Content.Client/Weather/WeatherSystem.cs
  Content.Client/_DeltaV/Shuttles/Systems/DockingConsoleSystem.cs
  Content.Client/_DeltaV/Shuttles/UI/DockingConsoleBoundUserInterface.cs
  Content.Client/_DeltaV/Shuttles/UI/DockingConsoleWindow.xaml
  Content.Client/_DeltaV/Shuttles/UI/DockingConsoleWindow.xaml.cs
  Content.Server/Body/Components/LungComponent.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/_DeltaV/Planet/PlanetSystem.cs
  Content.Server/_DeltaV/Shuttles/Systems/DockingConsoleSystem.cs
  Content.Server/_DeltaV/Shuttles/Systems/DockingShuttleSystem.cs
  Content.Server/_DeltaV/Station/Components/StationPlanetSpawnerComponent.cs
  Content.Server/_DeltaV/Station/Systems/StationPlanetSpawnerSystem.cs
  Content.Server/_DeltaV/Weather/WeatherEffectsSystem.cs
  Content.Server/_DeltaV/Weather/WeatherSchedulerComponent.cs
  Content.Server/_DeltaV/Weather/WeatherSchedulerSystem.cs
  Content.Shared/Weather/SharedWeatherSystem.cs
  Content.Shared/Weather/WeatherComponent.cs
  Content.Shared/Weather/WeatherPrototype.cs
  Content.Shared/_DeltaV/Planet/PlanetPrototype.cs
  Content.Shared/_DeltaV/Shuttles/Components/DockingConsoleComponent.cs
  Content.Shared/_DeltaV/Shuttles/Components/DockingShuttleComponent.cs
  Content.Shared/_DeltaV/Shuttles/Components/MiningShuttleComponent.cs
  Content.Shared/_DeltaV/Shuttles/DockingConsoleUI.cs
  Content.Shared/_DeltaV/Shuttles/Systems/SharedDockingConsoleSystem.cs
  Content.Shared/_DeltaV/Shuttles/Systems/SharedDockingShuttleSystem.cs
  Content.Shared/_DeltaV/Weather/Components/AshStormImmuneComponent.cs
  Resources/Locale/en-US/_DeltaV/shuttles/docking-console.ftl
  Resources/Locale/en-US/_DeltaV/weather/ashstorm.ftl
  Resources/Maps/_DeltaV/Nonstations/glacier_surface_outpost.yml
  Resources/Maps/_DeltaV/Nonstations/lavaland_mining_base.yml
  Resources/Maps/_DeltaV/Shuttles/glacier_surface_shuttle.yml
  Resources/Maps/_DeltaV/Shuttles/mining.yml
  Resources/Maps/_starcup/byoin.yml
  Resources/Maps/_starcup/glacier.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/_DeltaV/Entities/Objects/Devices/CircuitBoards/computer.yml
  Resources/Prototypes/_DeltaV/Entities/Stations/base.yml
  Resources/Prototypes/_DeltaV/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_DeltaV/Entities/Structures/Machines/computers.yml
  Resources/Prototypes/_DeltaV/Procedural/biome_ore_templates.yml
  Resources/Prototypes/_DeltaV/planets.yml
  Resources/Prototypes/_DeltaV/tags.yml
  Resources/Prototypes/_starcup/Maps/glacier.yml
  Resources/Prototypes/weather.yml
Labels: Changes: UI, size/XL, Changes: Map, Changes: YML

#121 feat: add frigid peril event map
  Resources/Maps/_starcup/Events/frigid-peril-station.yml
  Resources/Maps/_starcup/Events/frigid-peril-surface.yml
  Resources/Prototypes/_starcup/Maps/Events/frigid-peril.yml
Labels: S: Untriaged, Changes: No C#, Changes: Map, Changes: YML

#122 fix(event): frigid peril surface shuttle synchronization
  Resources/Maps/_starcup/Events/frigid-peril-station.yml
  Resources/Maps/_starcup/Events/frigid-peril-surface.yml
  Resources/Prototypes/_starcup/Maps/Events/frigid-peril.yml
Labels: Changes: No C#, Changes: Map, Changes: YML

#133 add: adds fultons + beacons as a T1 industrial research
  Resources/Locale/en-US/_starcup/research/technologies.ftl
  Resources/Prototypes/Recipes/Lathes/Packs/cargo.yml
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_starcup/Recipes/Lathes/Packs/cargo.yml
  Resources/Prototypes/_starcup/Research/industrial.yml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: YML

#135 fix: no longer rotate held items unless hovering over a storage window
  Content.Client/UserInterface/Systems/Storage/StorageUIController.cs
Labels: size/S, S: Untriaged

#134 feat: directional curtains
  Content.Client/_starcup/OrientationHint/OrientationHintSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/_starcup/OrientationHint/OrientationHintComponent.cs
  Resources/Prototypes/_starcup/Entities/Structures/curtains.yml
Labels: S: Untriaged, Changes: YML

#131 feat: new tiles and posters
  Resources/Locale/en-US/_starcup/stack/stacks.ftl
  Resources/Prototypes/_starcup/Entities/Objects/Tiles/carpet.yml
  Resources/Prototypes/_starcup/Entities/Objects/Tiles/wood.yml
  Resources/Prototypes/_starcup/Entities/Structures/Wallmounts/posters.yml
  Resources/Prototypes/_starcup/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/_starcup/Tiles/carpet.yml
  Resources/Prototypes/_starcup/Tiles/stone.yml
  Resources/Prototypes/_starcup/Tiles/wood.yml
  Resources/Textures/_starcup/Objects/Tiles/Interior/arcade_carpet.rsi/arcade.png
  Resources/Textures/_starcup/Objects/Tiles/Interior/arcade_carpet.rsi/meta.json
  Resources/Textures/_starcup/Objects/Tiles/Interior/piiixl.rsi/carpet26.png
  Resources/Textures/_starcup/Objects/Tiles/Interior/piiixl.rsi/carpet28.png
  Resources/Textures/_starcup/Objects/Tiles/Interior/piiixl.rsi/meta.json
  Resources/Textures/_starcup/Objects/Tiles/Interior/piiixl.rsi/wood01.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_starcup/Structures/Wallmounts/posters.rsi/poster-ppe-blue1.png
  Resources/Textures/_starcup/Structures/Wallmounts/posters.rsi/poster-ppe-pink1.png
  Resources/Textures/_starcup/Tiles/Interior/arcade_carpet.rsi/arcade.png
  Resources/Textures/_starcup/Tiles/Interior/arcade_carpet.rsi/meta.json
  Resources/Textures/_starcup/Tiles/Interior/piiixl.rsi/carpet26.png
  Resources/Textures/_starcup/Tiles/Interior/piiixl.rsi/carpet28.png
  Resources/Textures/_starcup/Tiles/Interior/piiixl.rsi/meta.json
  Resources/Textures/_starcup/Tiles/Interior/piiixl.rsi/wood01.png
  Resources/Textures/_starcup/Tiles/Stone/piiixl.rsi/blackstone01.png
  Resources/Textures/_starcup/Tiles/Stone/piiixl.rsi/blackstone02.png
  Resources/Textures/_starcup/Tiles/Stone/piiixl.rsi/blackstone08.png
  Resources/Textures/_starcup/Tiles/Stone/piiixl.rsi/blackstone10.png
  Resources/Textures/_starcup/Tiles/Stone/piiixl.rsi/blackstone14.png
  Resources/Textures/_starcup/Tiles/Stone/piiixl.rsi/blue_stone02.png
  Resources/Textures/_starcup/Tiles/Stone/piiixl.rsi/blue_stone06.png
  Resources/Textures/_starcup/Tiles/Stone/piiixl.rsi/blue_stone10.png
  Resources/Textures/_starcup/Tiles/Stone/piiixl.rsi/gray_brick01.png
  Resources/Textures/_starcup/Tiles/Stone/piiixl.rsi/magma.png
  Resources/Textures/_starcup/Tiles/Stone/piiixl.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M, Changes: YML

#136 feat: add wall ambient occlusion [early merge]
  Content.Client/Light/AmbientOcclusionOverlay.cs
  Content.Client/Light/EntitySystems/PlanetLightSystem.cs
  Content.Client/Light/RoofOverlay.cs
  Content.Shared/CCVar/CCVars.Lighting.cs
Labels: S: Untriaged, size/M

#139 tweak: customizable clown masks
  Resources/Locale/en-US/_starcup/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/_starcup/Loadouts/Jobs/Civilian/clown.yml
  Resources/Prototypes/_starcup/Loadouts/loadout_groups.yml
Labels: size/S, Changes: No C#, Changes: YML

#142 tweak: removed priority mail
  Resources/Prototypes/_DeltaV/Entities/Structures/Machines/mailTeleporter.yml
Labels: S: Untriaged, Changes: No C#, Changes: YML

#147 tweak: give harpies access to rodentia bat markings
  Resources/Prototypes/_DeltaV/Entities/Mobs/Customization/Markings/rodentia.yml
Labels: S: Untriaged, Changes: No C#, Changes: YML

#148 feat: add eskie plushie
  Resources/Locale/en-US/_starcup/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_starcup/Entities/Objects/Fun/plushies.yml
  Resources/Prototypes/_starcup/Recipes/Cooking/food_sequence_element.yml
  Resources/Textures/_starcup/Objects/Fun/plushies.rsi/eskie.png
  Resources/Textures/_starcup/Objects/Fun/plushies.rsi/meta.json
Labels: Changes: Sprites, size/S, S: Untriaged, Changes: No C#, Changes: YML

#153 fix: atmos techs with alt titles don't get two pdas
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
Labels: Changes: No C#, Changes: YML

#150 Sec and Med vend QoL Ops: Add new sec and EMT gear to SecTech, e-pens to Med vend
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
Labels: Changes: No C#, Changes: YML

#152 Syndicate captain antique laser, pen, nuke disk, and locker
  Resources/Prototypes/Entities/Objects/Misc/dat_fukken_disk.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Textures/_starcup/Objects/Misc/nukedisk.rsi/icon.png
  Resources/Textures/_starcup/Objects/Misc/nukedisk.rsi/inhand-left.png
  Resources/Textures/_starcup/Objects/Misc/nukedisk.rsi/inhand-right.png
  Resources/Textures/_starcup/Objects/Misc/nukedisk.rsi/meta.json
  Resources/Textures/_starcup/Objects/Misc/pens.rsi/meta.json
  Resources/Textures/_starcup/Objects/Misc/pens.rsi/pen-inhand-left.png
  Resources/Textures/_starcup/Objects/Misc/pens.rsi/pen-inhand-right.png
  Resources/Textures/_starcup/Objects/Misc/pens.rsi/pen_cap.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/base.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/equipped-BELT.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/icon.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-left-0.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-left-1.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-left-2.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-left-3.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-left.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-right-0.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-right-1.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-right-2.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-right-3.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-right.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-0.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-1.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-2.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-3.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-4.png
  Resources/Textures/_starcup/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/meta.json
  Resources/Textures/_starcup/Structures/Storage/closet.rsi/cap.png
  Resources/Textures/_starcup/Structures/Storage/closet.rsi/cap_door.png
  Resources/Textures/_starcup/Structures/Storage/closet.rsi/cap_open.png
  Resources/Textures/_starcup/Structures/Storage/closet.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M, Changes: YML

#156 feat: port fluffy tails, striped tails, and makeup from delta-v
  Resources/Locale/en-US/_DeltaV/markings/felinid.ftl
  Resources/Locale/en-US/_DeltaV/markings/makeup.ftl
  Resources/Prototypes/_DeltaV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/_DeltaV/Entities/Mobs/Customization/Markings/makeup.yml
  Resources/Textures/_DeltaV/Mobs/Customization/Felinid/felinid_tails.rsi/Felinid_fluffy_tail_full.png
  Resources/Textures/_DeltaV/Mobs/Customization/Felinid/felinid_tails.rsi/felinid_fluffy_tail_rings.png
  Resources/Textures/_DeltaV/Mobs/Customization/Felinid/felinid_tails.rsi/meta.json
  Resources/Textures/_DeltaV/Mobs/Customization/Felinid/tiger_tail.rsi/m_tail_tiger_primary.png
  Resources/Textures/_DeltaV/Mobs/Customization/Felinid/tiger_tail.rsi/m_tail_tiger_secondary.png
  Resources/Textures/_DeltaV/Mobs/Customization/Felinid/tiger_tail.rsi/m_tail_tiger_tertiary.png
  Resources/Textures/_DeltaV/Mobs/Customization/Felinid/tiger_tail.rsi/meta.json
  Resources/Textures/_DeltaV/Mobs/Customization/makeup.rsi/blush.png
  Resources/Textures/_DeltaV/Mobs/Customization/makeup.rsi/lips.png
  Resources/Textures/_DeltaV/Mobs/Customization/makeup.rsi/meta.json
  Resources/Textures/_DeltaV/Mobs/Customization/makeup.rsi/moth_blush.png
  Resources/Textures/_DeltaV/Mobs/Customization/makeup.rsi/moth_lips.png
  Resources/Textures/_DeltaV/Mobs/Customization/makeup.rsi/nail_polish_l.png
  Resources/Textures/_DeltaV/Mobs/Customization/makeup.rsi/nail_polish_r.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M, Changes: YML

#157 feat: port 'soft eye' doptera markings from funkystation
  Resources/Locale/en-US/_Funkystation/markings/moth.ftl
  Resources/Prototypes/_Funkystation/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Textures/_Funkystation/Mobs/Customization/Moth/moth_parts.rsi/eyes_heterochromia_soft.png
  Resources/Textures/_Funkystation/Mobs/Customization/Moth/moth_parts.rsi/eyes_soft.png
  Resources/Textures/_Funkystation/Mobs/Customization/Moth/moth_parts.rsi/eyes_soft_skin.png
  Resources/Textures/_Funkystation/Mobs/Customization/Moth/moth_parts.rsi/meta.json
Labels: Changes: Sprites, size/S, S: Untriaged, Changes: No C#, Changes: YML

#158 feat: felinid furred limbs markings
  Resources/Locale/en-US/_DeltaV/markings/felinid.ftl
  Resources/Prototypes/_DeltaV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_limbs.rsi/furred_l_arm.png
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_limbs.rsi/furred_l_foot.png
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_limbs.rsi/furred_l_hand.png
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_limbs.rsi/furred_l_leg.png
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_limbs.rsi/furred_r_arm.png
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_limbs.rsi/furred_r_foot.png
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_limbs.rsi/furred_r_hand.png
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_limbs.rsi/furred_r_leg.png
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_limbs.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M, Changes: YML

#161 fix: allow delaying round start by negative time
  Content.Server/GameTicking/Commands/DelayStartCommand.cs
Labels: S: Untriaged, size/XS

#162 tweak(map): general fixes for byoin
  Resources/Maps/_starcup/byoin.yml
Labels: S: Untriaged, Changes: No C#, size/M, Changes: Map, Changes: YML

#165 tweak: increase power outage event reoccurence delay
  Resources/Prototypes/GameRules/events.yml
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: YML

#172 feat: senior bartender roletimer and pda
  Resources/Locale/en-US/_starcup/job/job-names.ftl
  Resources/Prototypes/_DeltaV/Loadouts/loadout_groups.yml
  Resources/Prototypes/_starcup/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_starcup/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_starcup/Loadouts/Jobs/Civilian/bartender.yml
Labels: size/S, S: Untriaged, Changes: No C#, Changes: YML

#170 tweak: upped felinid and rodentia height a tidge
  Resources/Prototypes/_DeltaV/Species/felinid.yml
  Resources/Prototypes/_DeltaV/Species/rodentia.yml
Labels: size/XS, Changes: No C#, Changes: YML

#163 tweak: gave more species undergarments/makeup
  Resources/Prototypes/Entities/Mobs/Customization/Markings/undergarments.yml
  Resources/Prototypes/_DeltaV/Entities/Mobs/Customization/Markings/makeup.yml
  Resources/Prototypes/_DeltaV/Species/Oni.yml
  Resources/Prototypes/_DeltaV/Species/felinid.yml
  Resources/Prototypes/_DeltaV/Species/harpy.yml
  Resources/Prototypes/_DeltaV/Species/rodentia.yml
  Resources/Prototypes/_DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/_EinsteinEngines/Species/ipc.yml
Labels: S: Untriaged, Changes: No C#, Changes: YML

#169 fix: remove priority mail chance from mail prototypes
  Resources/Prototypes/_DeltaV/Entities/Objects/Specific/Mail/mail.yml
Labels: size/S, Changes: No C#, Changes: YML

#174 feat: split migrations into separate files
  Content.Server/Maps/MapMigrationSystem.cs
  Resources/Migrations/deltaMigrations.yml
  Resources/Migrations/migration.yml
  Resources/migration.yml
Labels: size/L, Changes: YML

#176 feat: port alternate asteroid rocks from delta-v
  Resources/Prototypes/Procedural/biome_templates.yml
  Resources/Prototypes/_DV/Entities/Markers/Random/Spawners/miningrock.yml
  Resources/Prototypes/_DV/Entities/Structures/Walls/mountain.yml
  Resources/Prototypes/_DV/ore.yml
  Resources/Textures/_DV/Structures/Walls/asteroid_rock.rsi/full.png
  Resources/Textures/_DV/Structures/Walls/asteroid_rock.rsi/meta.json
  Resources/Textures/_DV/Structures/Walls/asteroid_rock.rsi/rock_0.png
  Resources/Textures/_DV/Structures/Walls/asteroid_rock.rsi/rock_1.png
  Resources/Textures/_DV/Structures/Walls/asteroid_rock.rsi/rock_2.png
  Resources/Textures/_DV/Structures/Walls/asteroid_rock.rsi/rock_3.png
  Resources/Textures/_DV/Structures/Walls/asteroid_rock.rsi/rock_4.png
  Resources/Textures/_DV/Structures/Walls/asteroid_rock.rsi/rock_5.png
  Resources/Textures/_DV/Structures/Walls/asteroid_rock.rsi/rock_6.png
  Resources/Textures/_DV/Structures/Walls/asteroid_rock.rsi/rock_7.png
  Resources/Textures/_DV/Structures/Walls/mountain_rock.rsi/full.png
  Resources/Textures/_DV/Structures/Walls/mountain_rock.rsi/meta.json
  Resources/Textures/_DV/Structures/Walls/mountain_rock.rsi/rock_0.png
  Resources/Textures/_DV/Structures/Walls/mountain_rock.rsi/rock_1.png
  Resources/Textures/_DV/Structures/Walls/mountain_rock.rsi/rock_2.png
  Resources/Textures/_DV/Structures/Walls/mountain_rock.rsi/rock_3.png
  Resources/Textures/_DV/Structures/Walls/mountain_rock.rsi/rock_4.png
  Resources/Textures/_DV/Structures/Walls/mountain_rock.rsi/rock_5.png
  Resources/Textures/_DV/Structures/Walls/mountain_rock.rsi/rock_6.png
  Resources/Textures/_DV/Structures/Walls/mountain_rock.rsi/rock_7.png
  Resources/Textures/_DV/Structures/Walls/mountain_rock_ore.rsi/full.png
  Resources/Textures/_DV/Structures/Walls/mountain_rock_ore.rsi/meta.json
  Resources/Textures/_DV/Structures/Walls/mountain_rock_ore.rsi/rock_0.png
  Resources/Textures/_DV/Structures/Walls/mountain_rock_ore.rsi/rock_1.png
  Resources/Textures/_DV/Structures/Walls/mountain_rock_ore.rsi/rock_2.png
  Resources/Textures/_DV/Structures/Walls/mountain_rock_ore.rsi/rock_3.png
  Resources/Textures/_DV/Structures/Walls/mountain_rock_ore.rsi/rock_4.png
  Resources/Textures/_DV/Structures/Walls/mountain_rock_ore.rsi/rock_5.png
  Resources/Textures/_DV/Structures/Walls/mountain_rock_ore.rsi/rock_6.png
  Resources/Textures/_DV/Structures/Walls/mountain_rock_ore.rsi/rock_7.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M, Changes: YML

#180 fix: Removed unnecessary changelog file
  Resources/Changelog/Old.yml
Labels: size/L, Changes: No C#, Changes: YML
